

<ion-view view-title="Device">
    <ion-content>
        <div class="list">
            <div class="item item-thumbnail-left" ng-repeat="lampu in device.items">

                <img ng-src="{{ lampu.image_url }}">
                <h2>{{ lampu.name }}</h2>
                <p>{{ lampu.description }}</p>

                <label class="toggle toggle-calm" >
                    <input type="checkbox" ng-model="lampu.status" ng-change="device.changeStatus(lampu)">
                    <div class="track"
                        <div class="handle"></div>
                    </div>
                </label>

                <label class="float-right" ng-if="root.isAdmin == '1'">
                    <span>In Repair</span>
                    <div class="checkbox checkbox-input-hidden checkbox-assertive">
                        <input type="checkbox" ng-model="lampu.in_repair" ng-change="device.changeStatus(lampu)">
                        <i class="checkbox-icon"></i>
                    </div>
                </label>

            </div>
        </div>
    </ion-content>
</ion-view>